* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #151618;
  font-size: 16px;
  line-height: normal;
  font-weight: 300;
  background-color: #ecf7f3;
}

ul,
span,
h1,
p {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button {
  background-color: #48b774;
}

/* main */

.container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 40px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__link {
  max-width: 90px;
  max-height: 90px;
}

.header__logo {
  width: 100%;
  height: 100%;
}

.logo-text {
  max-width: 90px;
  text-align: center;
}

.header__list {
  display: flex;
  flex-direction: row;
}

.header__item:not(:last-child) {
  margin-right: 72px;
}

.button {
  max-width: 108px;
  max-height: 42px;
  padding: 10px 24px;
  border-radius: 20px;
  text-align: center;
  color: #ffff;
  border: none;
}

/* header */

.main {
  padding-top: 140px;
}

.about__wrapper {
  max-width: 470px;
}

.about__title {
  font-size: 48px;
  line-height: 54px;
}

.about__text {
  line-height: 28px;
  padding: 20px 0 30px 0;
}

.about__text-color {
  color: #ff8345;
  font-weight: 600;
}
